{% extends 'base.html' %}
{% load static %}

{% block content %}

  <main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Hujjatlar</h2>
        </div>

      </div>
    </section>

    <!-- ======= Hujjatlar ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-8">
            <p><a href="https://lex.uz/acts/33150">O‘zbekiston Respublikasining “Telekommunikatsiyalar to‘g‘risida”gi Qonuni</a></p>
            <p><a href="https://www.lex.uz/acts/25251">O‘zbekiston Respublikasining “Pochta aloqasi to‘g‘risida”gi Qonuni </a></p>
            <p><a href="https://lex.uz/acts/26776">O‘zbekiston Respublikasining “Radiochastotalar spektri to‘g‘risida”gi Qonuni </a></p>
            <p><a href="https://www.lex.uz/acts/64467">O‘zbekiston Respublikasining “Elektron raqamli imzo to‘g‘risida”gi Qonuni </a></p>
            <p><a href="https://www.lex.uz/acts/15674">O‘zbekiston Respublikasining “Aloqa to‘g‘risida”gi Qonuni</a></p>
            <p><a href="https://www.lex.uz/acts/165079">O‘zbekiston Respublikasining “Elektron hujjat aylanishi to‘g‘risida”gi Qonuni </a></p>
            <p><a href="https://lex.uz/docs/5032128">O‘zbekiston Respublikasi Prezidentining “Axborot texnologiyalari sohasida ta’lim tizimini yanada takomillashtirish, ilmiy tadqiqotlarni rivojlantirish va ularni IT-industriya bilan integratsiya qilish chora-tadbirlari to‘g‘risida”gi qarori </a></p>
            <p><a href="https://lex.uz/ru/docs/5603319">“Sun’iy intellekt texnologiyalarini qo‘llash bo‘yicha maxsus rejimni joriy qilish chora-tadbirlari to‘g‘risida” O‘zbekiston Respublikasi Prezidentining qarori </a></p>
            <p><a href="https://lex.uz/ru/docs/5030957">O‘zbekiston Respublikasi Prezidentining “Raqamli O‘zbekiston – 2030” strategiyasini tasdiqlash va uni samarali amalga oshirish chora-tadbirlari to‘g‘risida”gi PF-6079-sonli Farmoni</a></p>


          </div>
          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Biz bilan aloqa</h3>
              <ul>
                <li><strong>Manzil</strong>: Sirdaryo, Guliston , Alisher Navoiy ko'chasi</li>
                <li><strong>Telefon</strong>: +998 99 477 14 44</li>
                <li><strong>Email</strong>: depGulistan@mitc.uz</li>
                <li><strong>Vazirlik sayti</strong>: <a href="https://www.mitc.uz">www.mitc.uz</a></li>
              </ul>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock content %}
