{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ======= Asosiy ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>O'ZBEKISTON RESPUBLIKASI AXBOROT TEXNOLOGIYALARI VA KOMMUNIKATSIYALARINI RIVOJLANTIRISH VAZIRLIGI
      <h2>Sirdaryo viloyat hududiy boshqarmasi</h2>
      <div class="d-flex">
        <a href="https://youtu.be/8SVU9BfimSA" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
  </section><!-- Asosiy -->

  <main id="main">


    <!-- ======= Boshqarma faoliyati ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <h3><span>Sirdaryo viloyati hududiy boshqarmasi faoliyati haqida</span></h3>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'assets/img/sirdaryo.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <p class="fst-italic">
               - hududda axborot texnologiyalari va telekommunikatsiyalarini rivojlantirish dasturining
                amalga oshirilishini tahlil qilish, litsenziya kelishuviga oid talab va shartlarni amalga
                oshirish, radiochastotadan foydalanishni tashkil qilish;<br><br>
                - davlat organlarida Milliy axborot tizimi va “Elektron hukumat” platformasini shakllantirish
                va rivojlantirishni muvofiqlashtirish;<br><br>
                - davlat organlarida interaktiv davlat xizmatlari va axborot tizimlaridan foydalanish
                natijasida erishilayotgan samaradorligini oshirish to‘g‘risida chora-tadbirlar va tizimli tahlil
                ishlab chiqish;<br><br>
                - sifatli va raqobatbardosh, milliy dasturiy ta’minot vositalarining ishlab chiqarilishini
                ta’minlash, axborot resurslari, axborot tizimlari va dasturiy ta’minot vositalari ishlab
                chiqari, xizmatlar bozorini rivojlantirishni ta’minlash;<br><br>
                - hududda tashkilot va muassasalarda zamonaviy axtomatlashtirilgan tizim va dasturiy ta'minot
                mahsulotlarining joriy qilinishini muvofiqlashtiradi;<br><br>
                - elektron hujjat almashinuvini joriy qilinishi va ushbu tizimdan foydalanishni elektron
                munosabatlarga o'tish va elektron raqamli imzodan foydalanishni tashkil qiladi;<br><br>
                - hududda telekommunikatsiya sohasida litsenziya olish, boshqa hujjatlarni almashish,
                mazkur sohada faoliyat yuritish istagida bo'lgan shaxslar bilan o'zaro munosabatlarni elektron
                munosabat, interaktiv xizmatlar yordamida amalgga oshirilishini ta'minlaydi.
            </p>

          </div>
        </div>

      </div>
    </section><!-- Boshqarma faoliyati -->



    <!-- ======= Ko'rsatkichlar ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h3><span>Ko'rsatkichlar</span></h3>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="27" data-purecounter-duration="1" class="purecounter"></span>
              <p>Jami internetdan foydalanuvchilar soni(mln)
                <br><br>
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="1800" data-purecounter-duration="1" class="purecounter"></span>
              <p>Xalqaro maʼlumotlar uzatish tarmogʻining oʻtkazuvchanlik qobiliyati (Gbit/s)</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="29" data-purecounter-duration="1" class="purecounter"></span>
              <p>Mobil abonentlari soni (mln)
              <br><br><br>
            </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
              <p>Aholini raqamli televidenie bilan qamrab olinishi darajasi (%)
              <br><br>
            </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- Ko'rsatkichlar -->


    <!-- ======= Faoliyat yo'nalishlari ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <h3><span>FAOLIYAT YO'NALISHLARI</span></h3>
          <p>Sirdaryo viloyati bosgqarmasining faoliyat yo'nalishlari.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="https://mitc.uz/uz/pages/communication">Telekomunikatsiya</a></h4>
              <p>Zamonaviy telekommunikatsiya infratuzilmasining barpo etilishi raqamli iqtisodiyot rivojlanishi uchun eng muhim omillardan biri</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="https://mitc.uz/uz/pages/actions_strategy">Harakatlar strategiyasi</a></h4>
              <p>Axborot texnologiyalari va kommunikatsiyalarni rivojlantirish vazirligining Harakatlar
              strategiyasini amalga oshirish yuzasidan ma'lumot</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="https://mitc.uz/uz/pages/information_technologies">Axborot texnologiyalari</a></h4>
              <p> AKT sohasida ko‘rsatilgan jami xizmatlar hajmi 10,6 trillion so‘mgacha yetib, 104% o‘sishini ko‘rsatdi.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="https://mitc.uz/uz/pages/post">Pochta</a></h4>
              <p>Axborot texnologiyalari va kommunikatsiyalarini rivojlantirish vazirligi “O‘zbekiston pochtasi” AJ tomonidan 2022 yilda amalga oshirilgan ishlar </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="https://my.gov.uz/oz">Elektron hukumat</a></h4>
              <p>Davlat organlarining jismoniy va yuridik shaxslarga axborot-kommunikatsiya texnologiyalarini qo‘llash yo‘li bilan davlat xizmatlari ko‘rsatishga doir faoliyat</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="https://mitc.uz/uz/pages/inves_tory">AKT ga investitsiyalar</a></h4>
              <p>Axborot texnologiyalari va kommunikatsiyalarini rivojlantirish vazirligi tizimidagi tegishli korxonalar tomonidan kiritilgan investitsiyalar.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- Faoliyat yo'nalishlari -->


    <!-- ======= Eng ko'p beriladigan savollar ======= -->
    <section id="savollar" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3><span>Eng ko'p so'raladigan savollar</span></h3>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
                  1. O‘zbekistonda jami internet foydalanuvchilari soni qancha?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>Hozirda 27.2 million</p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
                  2. Xalqaro maʼlumotlar uzatish tarmogʻining oʻtkazuvchanlik qobiliyati qanchani tahskil etadi?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>1.800</p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
                  3. O‘zbekistonda mobil abonentlari soni qancha?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>29.000.000</p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
                  4. Aholini raqamli televidenie bilan qamrab olish darajasi qancha?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                  <p>100 %</p>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </section><!-- Eng ko'p beriladigan savollar -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Biz bilan aloqa</span></h3>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Address</h3>
              <p>Guliston, Alisher Navoiy ko'chasi, Uztelecom 2-qavat</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email</h3>
              <p>depGulistan@mitc.uz</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Telefon</h3>
              <p>+998 99 477 14 44</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d758.5149078242669!2d68.7773511!3d40.4960644!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b206ed294144a7%3A0x42e982947bcdeabf!2sGulistan%20Uztelecom!5e0!3m2!1sru!2s!4v1652692469480!5m2!1sru!2s" frameborder="0" style="border:0; width: 100%; height: 500px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form method="POST">
              {% csrf_token %}
              {{form}}
              <input  class="btn btn-info" type="submit" value='Yuborish'>
             
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock content %}
